.App {
    padding: 10px 0;
    display: flex;
    background-position: left !important;
    justify-content: center;
    background: #ffb74d;
    height: 100%;
}

section a {
    display: flex;
}

section a {
    text-decoration: none;
}

section > a > div:first-child {
    background-size: cover !important;
    height: auto;
    min-height: 300px;
    padding: 0;
    border-radius: 20px;
    margin: 20px;
}

section > a > div:first-child:hover{
    border: 5px solid #ff9800;
    transition: border 200ms;
}

section h2 {
    position: relative;
    left: 25px;
    color: #fff3e0;
    text-shadow: 2px 0 4px #681b03;
    font-size: 2.4rem;
    border: 9px solid #ffd54f;
    width: -moz-fit-content;
    width: fit-content;
    padding: 2px 17px;
    border-radius: 40px;
    background: #ffb74da3;
}

section img {
    opacity: 0.6;
    min-width: 100%;
    min-height: 100%;
}

section span {
    color: #ffee58;
    padding: 21px 14px;
    text-align: justify;
    display: block;
    text-shadow: 1px 1px 0 black;
    margin: 0px 26px;
    font-weight: bold;
    top: 15px;
    position: relative;
}